@define-color background #100D10;
@define-color foreground #FAF3F1;
@define-color text alpha(#FAF3F1, 0.8);
@define-color cursor #A4BAAA;
@define-color color0 #3B383B;
@define-color color1 #5F84A1;
@define-color color2 #57866B;
@define-color color3 #987DA0;
@define-color color4 #B4B569;
@define-color color5 #6ABCD4;
@define-color color6 #F0DDD7;
@define-color color7 #EFE6E3;
@define-color color8 #A7A19F;
@define-color color9 #5F84A1;
@define-color color10 #57866B;
@define-color color11 #987DA0;
@define-color color12 #B4B569;
@define-color color13 #6ABCD4;
@define-color color14 #F0DDD7;
@define-color color15 #EFE6E3;
@define-color green #A0FFA0;
@define-color red #FFA0A0;
