@define-color background #141119;
@define-color foreground #DBDBEF;
@define-color text alpha(#DBDBEF, 0.8);
@define-color cursor #988CB0;
@define-color color0 #3F3B45;
@define-color color1 #4B4566;
@define-color color2 #7B6991;
@define-color color3 #6880A4;
@define-color color4 #9178AD;
@define-color color5 #5286B8;
@define-color color6 #9998D2;
@define-color color7 #C4C3E0;
@define-color color8 #89899D;
@define-color color9 #4B4566;
@define-color color10 #7B6991;
@define-color color11 #6880A4;
@define-color color12 #9178AD;
@define-color color13 #5286B8;
@define-color color14 #9998D2;
@define-color color15 #C4C3E0;
@define-color green #A0FFA0;
@define-color red #FFA0A0;
