@define-color background #0D0E0C;
@define-color foreground #FCF7F6;
@define-color text alpha(#FCF7F6, 0.8);
@define-color cursor #A9ADA7;
@define-color color0 #383937;
@define-color color1 #81593A;
@define-color color2 #768078;
@define-color color3 #977A0D;
@define-color color4 #97A993;
@define-color color5 #F3CA10;
@define-color color6 #F6E8E5;
@define-color color7 #F2EBEA;
@define-color color8 #A9A5A3;
@define-color color9 #81593A;
@define-color color10 #768078;
@define-color color11 #977A0D;
@define-color color12 #97A993;
@define-color color13 #F3CA10;
@define-color color14 #F6E8E5;
@define-color color15 #F2EBEA;
@define-color green #A0FFA0;
@define-color red #FFA0A0;
