/* Neovim default colorscheme */
@define-color background #14161B;
@define-color foreground #E0E2EA;
@define-color text alpha(#E0E2EA, 0.8);
@define-color color0 #2c2e33;
@define-color color1 #FFC0B9;
@define-color color2 #B3F6C0;
@define-color color3 #FCE094;
@define-color color4 #A6DBFF;
@define-color color5 #FFCAFF;
@define-color color6 #8CF8F7;
@define-color color7 #E0E2EA;
@define-color color8 #4F5258;
@define-color color9 #590008;
@define-color color10 #005523;
@define-color color11 #6B5300;
@define-color color12 #004C73;
@define-color color13 #470045;
@define-color color14 #007373;
@define-color color15 #9B9EA4;
@define-color green #A0FFA0;
@define-color red #FFA0A0;
