@import "colors.css";

* {
  font-family: "Commit Mono Nerd Font";
  font-size: 12px;
  font-weight: bold;
  padding: 4px;
}

window#waybar {
  background: @background;
  color: @text;
}

.module {
  color: @text;
  margin: 0px 6px;
}

#battery.charging,
#battery.plugged {
  color: @green;
}

#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#privacy {
  padding: 0px;
  margin: -2px 4px;
  color: @red;
}

#privacy-item {
  margin: 0px;
  padding: 0px;
}

#tray {
  padding: 0px;
}

#mpd {
  padding: 0px;
  margin: 0px;
}

@keyframes blink {
  to {
    color: @background;
  }
}


tooltip {
  color: @text;
  background: @background;
  border: 1px solid alpha(@foreground, 0.1);
}

tooltip * {
  padding: 5px;
}

menu {
  color: @foreground;
  background: @background;
  border-radius: 8px;
}

menuitem {
  color: @foreground;
  margin: 2px;
  border-radius: 8px;
}

menuitem:hover {
  background: alpha(@foreground, 0.05);
}

separator {
  margin: 0px;
  background-color: transparent;
  padding: 0px;
  border: none;
}
