@import "colors.css";

* {
  font-family: "Hack Nerd Font";
  font-size: 12px;
  padding: 3px;
}

window#waybar {
  background: alpha(@background, 0.8);
  border: 1px solid alpha(@foreground, 0.2);
  border-radius: 16px;
  color: @text;
}

#workspaces * {
  padding: 0px 2px;
}

#workspaces button {
  color: alpha(@cursor, 0.8);
  background-color: transparent;
}

#workspaces button.active {
  color: @text;
}

#workspaces button.focused {
  color: @text;
  background: transparent;
}

#workspaces button.urgent {
  color: @red;
  background: transparent;
}

#workspaces button:hover {
  background: transparent;
}

#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#custom-power,
#group-hardware,
#idle_inhibitor,
#memory,
#mpd,
#mpris,
#network,
#pulseaudio,
#privacy,
#temperature,
#tray,
#workspaces {
  color: @text;
  box-shadow: inset 0 -1px 10px alpha(@foreground, 0.05);
  background: alpha(@foreground, 0.05);
  border-radius: 16px;
  border: 1px solid alpha(@foreground, 0.1);
  padding: 2px 8px;
}

#battery.charging,
#battery.plugged {
  color: @green;
  background-color: alpha(@green, 0.2);
}

#battery.critical:not(.charging) {
  background-color: alpha(@red, 0.2);
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-power {
  padding: 2px 13px;
  padding-left: 10px;
}

@keyframes blink {
  to {
    background-color: @red;
    color: @background;
  }
}

#privacy {
  padding: 0px 1px;
  background-color: alpha(@red, 0.1);
  color: @red;
}

tooltip {
  color: @text;
  background: alpha(@background, 0.9);
  border-radius: 16px;
  border: 1px solid alpha(@foreground, 0.5);
}

tooltip * {
  padding: 5px;
}

menu {
  color: @foreground;
  box-shadow: inset 0 -1px 10px alpha(@foreground, 0.1);
  background: @background;
  border-radius: 12px;
}

menuitem {
  margin: 2px;
  color: @foreground;
  background: alpha(@foreground, 0.1);
  border-radius: 8px;
  border: 1px solid alpha(@foreground, 0.1);
}

menuitem:hover {
  background-color: @foreground;
  color: @background;
}

menuitem:checked {
  background-color: alpha(@foreground, 0.2);
  color: @color4;
  font-weight: bold;
}

separator {
  margin: 0px;
  background-color: transparent;
  padding: 0px;
  border: none;
}
