@import "colors.css";

* {
  font-family: "Commit Mono Nerd Font";
  font-size: 12px;
  font-weight: bold;
}

window#waybar {
  background: @background;
  color: @text;
}

.modules-left {
  margin-left: 16px;
}

.modules-right {
  margin-right: 16px;
}

#privacy {
  color: @red;
}

tooltip {
  color: @text;
  background: @background;
  border: 1px solid alpha(@foreground, 0.2);
  border-radius: 0px;
}

tooltip * {
  padding: 5px;
}

menu {
  color: @foreground;
  background: @background;
  border-radius: 0px;
  padding: 0px;
}

menuitem {
  border-radius: 0px;
  padding: 8px;
}

menuitem:hover {
  background: alpha(@foreground, 0.05);
}

separator {
  margin: 0px;
  background-color: transparent;
  border: none;
}

#battery.charging,
#battery.plugged {
  color: @green;
}

#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    color: @background;
  }
}
