* {
  font-family: "Hack 10";
}

#window {
  background-color: --wofi-color0;
  color: --wofi-color1;
  border-radius: 16px;
}

#input {
  padding: 2px 2px 2px 16px;
  border-radius: 16px 16px 0px 0px;
  background-color: alpha(--wofi-color0, 0.9);
  border: 1px solid alpha(--wofi-color1, 0.2);
  color: #cdd6f4;
}

#input:focus {
  box-shadow: none;
}

#scroll {
  border-radius: 0px 0px 16px 16px;
  padding: 8px;
  border: 1px solid alpha(--wofi-color1, 0.2);
  border-top: 0px;
}

#entry {
  padding: 8px;
  border-radius: 10px;
}

#entry:selected {
  background-color: alpha(--wofi-color1, 1.0);
  color: black;
}

#entry image {
  margin-right: 8px;
}
