# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
# If you encounter any issues, please make an issue at https://github.com/yazi-rs/schemas.
"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]
ratio          = [ 1, 3, 4 ]
sort_by        = "natural"
sort_sensitive = false
sort_reverse   = false
sort_dir_first = true
sort_translit  = false
linemode       = "size"
show_hidden    = false
show_symlink   = true
scrolloff      = 5
mouse_events   = []
title_format   = "Yazi: {cwd}"

[preview]
wrap            = "no"
tab_size        = 2
max_width       = 1000
max_height      = 1200
cache_dir       = ""
image_delay     = 30
image_filter    = "triangle"
image_quality   = 50
ueberzug_scale  = 1
ueberzug_offset = [ 0, 0, 0, 0 ]


[open]

prepend_rules = [
  { url = "*.cbz", use = "open"}
]
